<h1>投稿が完了しました！</h1>

<h4>name: <%= @post.user.name %></h4>
<p>content: <%= @post.content %></p>
<p><%= image_tag("https://mighty-bayou-13982.herokuapp.com"+@post.picture.url, class: "round-img") if @post.picture && @post.picture.url %></p>