<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>内容</th>
    <th>ユーザー</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= post.user.name %></td>
    <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
  </tr>
<% end %>
</table>